@use './variables';

.PhotoContainer{
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: relative;
  overflow: hidden;

  .game-controls-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  .game-controls{
    width: 50vw;
    border: 3px solid variables.$myBlue;
    border-radius: 25px;
    height: 30vh;
    display: flex;
    background-color:  variables.$myRed;
    justify-content: space-around;
    background-blend-mode: multiply;
    align-items: center;

    .control-button{
      cursor: pointer;
      background-color: white;
      border: none;
      padding: 1rem 2rem;
      border-radius: 5px;
      font-size: 2rem;
      color: variables.$myBlue;
    }
  }
  .red{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/waldo-12be8.appspot.com/o/images%2Fpicture-one-min.png?alt=media&token=5713f946-84ff-41b6-bb22-20d46552a27c');
    background-color: variables.$myRed;
  }
  .yellow{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/waldo-12be8.appspot.com/o/images%2Fpicture-two-min.png?alt=media&token=04bdee30-7740-46fb-a98a-61c333f37f58');
    background-size: cover;
    background-color: variables.$myYellow;
  }
  }
  .waldoPhoto{
    -webkit-user-select: none;
    -webkit-user-drag: none;
    display: block;
  }
}