@use './variables';
.PhotoContainer{
  border: 5px solid variables.$myBlue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;

  .waldoPhoto{
    -webkit-user-select: none;
    -webkit-user-drag: none;
    display: block;
  }
}