:root{
  --y: 0px;
  --x: 0px;
}
.Circle{
  position: absolute;
  border-radius: 50%;
  border: 3px dashed rgb(63, 62, 62);
  background-color: rgba(63, 62, 62, 0.37);
  left: var(--x);
  top: var(--y);
  height: 50px;
  width: 50px;
}