@use './variables';

.win-alert{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(variables.$myBlue, 0.85);

.win-alert-buttons{
  opacity: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .win-alert-title,
  .win-alert-button,
  .win-alert-input{
    margin-bottom: 2rem;
    text-align: center;
  }
  .win-alert-button,
  .win-alert-input{
    background-color: variables.$myWhite;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
  }
  .win-alert-button{
    cursor: pointer;
    font-weight: 900;
    color: variables.$myBlue;
  }

}
&-title{
  font-size: 3rem;
  margin: 1rem;
}
&-scores{
  height: 100%;
}
&-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 6rem;

  &-title{
    font-size: 3rem;
  }
  &-item{
    width: 50%;
    margin: 1rem;
    display: flex;
    font-size: 2rem;
    border-radius: 5px;
    align-items: center;
    color: variables.$myBlue;
    padding: 2rem 3rem;
    justify-content: space-between;
    background: variables.$myWhite;
  }
}
}