@use './styles/variables';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: variables.$myFont;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;

  main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80vw;
  }
}
